<header id="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-9">
        <span [routerLink]="'/'" class="material-icons pointer"> arrow_back_ios </span>
      </div>
      <div class="col-3 d-flex align-items-center">
        <div
          class="d-flex align-items-center justify-content-between w-100 icon-wrapper header-icons"
        >
          <span class="fav-icon material-icons"> favorite </span>
          <span class="material-icons-outlined"> share </span>
          <span class="material-icons-outlined"> shopping_bag </span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row mt-10">
    <div class="col-md-12">
      <img src="assets/images/detail_image.png" />
    </div>
  </div>
  <div class="img-link d-flex mt-2">
    <span class="material-icons-outlined img-icon"> local_mall </span>
    <span class="img-title">tokobaju.id</span>
  </div>
  <div class="product-title mt-2">
    <span>Essentials Men's Short-Sleeve Crewneck T-Shirt</span>
  </div>
  <ul class="rr-wrapper d-flex mt-2">
    <li class="rating d-flex">
      <span class="material-icons star-icon">star</span> 4.9 Rating
    </li>
    <li class="review">2.3k+ Reviews</li>
    <li class="sold">2.9k + Sold</li>
  </ul>
  <mat-tab-group style="height: 100%;">
    <mat-tab label="About Item">
      <div class="p-3 d-flex align-items-between">
        <div class="d-flex">
          <label class="detail-label">Brand:</label>
          <span>&nbsp;&nbsp;ChArmkpR</span>
        </div>
        <div class="d-flex">
          <label class="detail-label">Color:</label>
          <span>&nbsp;&nbsp;Aprikot</span>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Reviews"> Reviews </mat-tab>
  </mat-tab-group>
</div>
<app-nav></app-nav>
