<div class="nav-wrapper">
  <ul class="p-0 m-0 d-flex align-items-center justify-content-between">
    <li class="d-flex flex-column align-items-center active">
      <i class="icon-home"></i>
      <span>Home</span>
    </li>
    <li class="d-flex flex-column align-items-center">
      <i class="icon-vourcher"></i>
      <span>Voucher</span>
    </li>
    <li class="d-flex flex-column align-items-center">
      <i class="icon-wallet"></i>
      <span>Wallet</span>
    </li>
    <li class="d-flex flex-column align-items-center">
      <i class="icon-settings"></i>
      <span>Settings</span>
    </li>
  </ul>
</div>
<div *ngIf="detailPage" class="nav-wrapper">
  <ul class="d-flex align-items-center justify-content-between nav-padding">
    <li class="d-flex flex-column align-items-center active">
      <span class="p-label">Total Price</span>
      <span class="p-price">$18.00</span>
    </li>
    <li class="d-flex">
      <button class="btn-shop" mat-raised-button>
        <span class="shop-bag material-icons-outlined"> shopping_bag </span> 1
      </button>
      <button class="btn-buy" mat-raised-button>Buy Now</button>
    </li>
  </ul>
</div>
