.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.product-header {
  padding: 20px 15px;

  h1 {
    margin: 0;
    font-weight: 500;
  }

  a {
    color: #009c84;
    font-weight: 500;
    font-size: 16px;
  }
}

.product-list-wrapper {
  -webkit-box-shadow: inset 0px 15px 47px -32px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: inset 0px 15px 47px -32px rgba(0, 0, 0, 0.11);
  box-shadow: inset 0px 15px 47px -32px rgba(0, 0, 0, 0.11);
  .mat-card{
    padding: 0 0 10px;
    margin-bottom: 20px;
    box-shadow: none;
    &:hover{
      -webkit-box-shadow: 0px 0px 73px -19px rgba(0,0,0,0.21);
-moz-box-shadow: 0px 0px 73px -19px rgba(0,0,0,0.21);
box-shadow: 0px 0px 73px -19px rgba(0,0,0,0.21);
    }
    .card-fav{
      position: absolute;
      right: 0;
      top: 0;
      background-color: #f2f2f2;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
    }
    img{
      margin: 0 0 20px;
      height: 150px;
      width: 100%;
    }
    .mat-card-header-text{
      margin: 0 10px;
      .mat-card-title{
        color: #a8a9af;
        font-size: 14px;
        margin-bottom: 5px;
      }
      .mat-card-subtitle{
        margin: 0 0 20px;
        color: #151828;
        font-weight: 500;
      }
    }
    .mat-card-content{
      ul{
        list-style-type: none;
        li{
          display: flex;
          align-items: center;
          padding-right: 5px;
          margin-right: 5px;
          border-right: 1px solid #a2a3a9;
          line-height: 1px;
          &:last-child{
            padding: 0;
            margin: 0;
            border: none;
          }
          i{
            color: #ff9e2f;
            padding-right: 5px;
            font-size: 18px;
          }
          span{
            color: #a2a3a9;
          }
        }
      }
    }
    .product-price{
      color: #009980;
      font-weight: 500;
      font-size: 18px;
    }
  }
}